.messenger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #6930c3;
}
.messenger h1 {
  font-size: 3rem;
  color: var(--text-primary-color);
  margin-bottom: 1rem;
  text-shadow: 2px 2px 1px hsla(0, 0%, 0%, 0.5);
}
