.page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: var(--gray0);
  width: 100%;
  height: 100vh;
}
.spinner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin: 0.25rem;
}
.spinnerSector {
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  border-top: 2px solid var(--white);
  animation: rotate 1s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
