.textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  max-height: 100%;
  margin-bottom: 1rem;
}
.textarea textarea {
  min-height: fit-content;
  height: 100%;
  width: 100%;
  padding: 0.25rem;
  color: var(--text-primary);
  background-color: transparent;
  resize: none;
  font-size: 1.2rem;
  font-family: inherit;
  border: none;
  overflow: scroll;
  outline: none;
}
.textarea textarea::-webkit-scrollbar {
  display: none;
}
.textarea textarea::placeholder {
  color: var(--text-primary);
}
