.chatBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--green0);
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
  background-color: transparent;
  padding: 0.25rem;
  border-left: 1px solid grey;
  background-color: var(--gray0);
  .user {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: 100%;
    color: var(--white);
  }
  img {
    height: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 0 0.25rem;
  }
}
.name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  > span {
    font-size: 0.8rem;
  }
}
.menu {
  display: flex;
  flex-direction: row;
  width: fit-content;
}
.dropdown,
.back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  font-size: 1rem;
  aspect-ratio: 1;
  border-radius: 0.25rem;
  margin: 0.25rem;
  cursor: pointer;
  svg {
    color: var(--graylight);
  }
  &:hover {
    background-color: var(--graylighter);
  }
  &:hover svg {
    color: var(--gray50);
  }
}
.messages {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 5rem);
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
    background-color: var(--gray0);
  }
}
.senderMessage,
.receiverMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.25rem 0;
  > span:first-child {
    display: flex;
    width: fit-content;
    height: fit-content;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;
    font-weight: bold;
    background-color: white;
    color: var(--background-2);
  }
  > span:nth-child(2) {
    font-size: 0.7rem;
    color: var(--text-primary);
    padding: 0.125rem;
    font-weight: bold;
  }
}
.senderMessage {
  justify-content: flex-end;
  > span:nth-child(2) {
    text-align: right;
  }
}
.receiverMessage {
  justify-content: flex-start;
  > span:nth-child(2) {
    text-align: left;
  }
}

.textArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: fit-content;
  min-height: 3rem;
  padding: 0.5rem;
  background-color: transparent;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: none;
    outline: none;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 50%;
    border-left: 1px solid grey;
    background-color: var(--green30);
  }
}

.date {
  margin-right: 50%;
  margin-left: auto;
  transform: translateX(50%);
  background-color: var(--gray0);
  color: var(--white);
  width: fit-content;
  padding: 0.25rem;
  margin-top: 0.5rem;
  border-radius: 4px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .back {
    display: none;
  }
}
