.card {
  display: grid;
  grid-template-areas: 'chat dropdown';
  grid-template-rows: auto;
  grid-template-columns: 90% 10%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 64px;
  padding: 0.25rem;
  background-color: transparent;
  border-bottom: 1px solid gray;
  @media (min-width: 769px) {
    &:hover {
      background-color: var(--card-hover-color);
    }
  }
  -webkit-tap-highlight-color: transparent;
}
.link {
  grid-area: chat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  height: 100%;
  width: 100%;
  background-color: transparent;
}
.dropdown {
  grid-area: dropdown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  border-radius: 30%;
  svg {
    color: var(--graylight);
  }
  @media (min-width: 769px) {
    &:hover {
      background-color: var(--graylighter);
    }
    &:hover svg {
      color: var(--gray50);
    }
  }
}

.avatar {
  grid-area: avatar;
  height: calc(64px - 1rem);
  aspect-ratio: 1;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.meta {
  grid-area: user;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: fit-content;
  width: 100%;
  color: var(--white);
  margin-left: 0.5rem;
  background-color: transparent;
}
.name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
  font-size: 1.1rem;
  white-space: nowrap;
  width: fit-content;
  height: auto;
  > span {
    margin-right: 0.5rem;
  }
}
.lastMessage {
  display: grid;
  grid-template-columns: 80% 20%;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 1.1rem;
  white-space: nowrap;
  width: 100%;
  height: auto;
  overflow: hidden;
  > span {
    margin-right: 0.5rem;
  }
}
.date {
  text-align: center;
  width: 100%;
  font-weight: 700;
  font-size: 0.8rem;
  color: hsla(0, 0%, 80%, 0.6);
  padding: 0.25rem;
  background-color: transparent;
}
.message {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-weight: 300;
  color: var(--graylight);
  font-size: 1rem;
  padding: 0.25rem;
  background-color: transparent;
}
.online {
  background-color: var(--green0);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}
