.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  background-color: transparent;
  border-bottom: 4px solid var(--graylight);
}
.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  color: var(--white);
  font-size: 2rem;
  font-weight: bold;
  border-radius: 50%;
  border: 2px solid var(--graylight);
}
.photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ccc;
}
.connect,
.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
