body {
  margin: 0;
  font-family: 'Georama', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --green0: #3fa796;
  --green10: #399687;
  --green20: #328678;
  --green30: #2c7569;
  --green40: #26645a;
  --green50: #20544b;
  --gray0: #2c2e43;
  --gray50: #161722;
  --graylight: #ababb4;
  --graylighter: hsla(240, 5%, 84%, 0.5);
  --white: hsl(0, 0%, 95%);
  --btn-primary: #26645a;
  --btn-outline: #26645a;
  --btn-primary-hover: #20544b;
  --card-hover-color: hsla(240, 5%, 84%, 0.1);
  --backdrop-color: hsla(240, 100%, 60%, 0.1);
  --success-color: hsl(120, 100%, 40%);
  --success-hover-color: hsl(120, 100%, 50%);
  --hover-color: hsl(203, 90%, 8%);
  --danger-color: red;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
